<%= stylesheet_link_tag    "student" %>

<h1> Your future video conferences </h1> 



<div class="content-backdrop">
	<div class="content">
		<div class="content-inner">
			<div id="invites-availability">
				<div class="row">
					<div class="week span8">
						<% @videochats.each do |current_chat| %>
						<div class="pool-con">
							<a href="/user/conference?sessionID=<%= current_chat.session_id%>&token=<%= current_chat.session_token%>"> Your Conference At 
							<small>
							<%=current_chat.date%>
							</small>
							</a>
						</div>
						<% end %>
					</div>
						<div class="week-end">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

