<%= stylesheet_link_tag    "student" %>
<%= javascript_include_tag "student_resize"%>

<div class="content-backdrop">
	<div class="content">
		<div class="content-inner">
			<div id="invites-availability">
				<div class="row">
					<div class="week span6">
						<h4>
							Today:
						</h4>
						<div class="pool-con">
							<a href="/student/post_reserve?reservationTime=now" class="btn btn-large btn-success">Today
								<br/>
							<small>
							Right Now
							</small>
							</a>
						</div>
					</div>
					<div class="week span6">
					<h4>
						Next Week:
					</h4>
						<div class="pool-con">
						<a href="/times/999/choose?confirmation_source=reserve" class="btn btn-large btn-success">Tuesday, April  2
						<small>
						at 8:00 pm
						</small>
						</a>
					</div>

					<div class="pool-con">
						<a href="/times/1000/choose?confirmation_source=reserve" class="btn btn-large btn-success">Wednesday, April  3
						<small>
						at 8:00 pm
						</small>
						</a>
					</div>

					<div class="pool-con">
						<a href="/times/1001/choose?confirmation_source=reserve" class="btn btn-large btn-success">Thursday, April  4
						<small>
						at 8:00 pm
						</small>
						</a>
					</div>

					</div>
						<div class="week-end">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


