      <!-- TEAM Introduction Code -->
      <div class="page-header">
        <h1>Meet our team <small>a gang of engineers</small></h1>
      </div>
      <div class="container">

      <div class="row">
        <!-- first member -->
        <div class="member span4 ">
          <div class="member-avatar">
            <img src="/images/Deniz.png" alt="" class="thumbnail">
          </div>
          <div class="member-meta">
            <div class="member-name"><h2>Deniz Kahramaner <small>Cofounder, Web Developer</small></h2></div>
            <div class="member-social">
              <a href="http://www.denizkahramaner.com"><i class="elegant-icon-wordpress"></i></a>
              <a href="http://tr.linkedin.com/pub/deniz-kahramaner/3a/936/509"><i class="elegant-icon-linkedin"></i></a>
              <a href="https://twitter.com/denizkahramaner"><i class="elegant-icon-twitter"></i></a>
              <a href="deniz@chativy.com"><i class="elegant-icon-email"></i></a>
            </div>
            <div class="member-description">
              <p> After finishing his Electrical Engineering Bachelor's degree at Stanford, Deniz is currently pursuing a Master's degree in Computer Science. Deniz worked at Microsoft as a software developer and a program manager, and has worked on numerous projects in software. Having applied to American and English colleges himself, Deniz regularly listens to the concerns and needs of the high school students going through this process, and believes that Chativy will be wonderful tool for them to use. </p>
            </div>
          </div>  
        </div>
        <!-- second member -->
        <div class="member span4 offset2">
          <div class="member-avatar">
            <img src="/images/Maurizio.png" alt="" class="thumbnail">
          </div>
          <div class="member-meta">
            <div class="member-name"><h2>Maurizio Caligaris <small>Cofounder, Web Developer</small></h2></div>
            <div class="member-social">
              <a href="http://www.linkedin.com/in/maurizioc"><i class="elegant-icon-linkedin"></i></a>
              <a href="maurizio@chativy.com"><i class="elegant-icon-email"></i></a>
            </div>
            <div class="member-description">
              <p>Maurizio is a Computer Science graduate from Stanford, and is currently pursuing a Master's degree in Computer Science at Stanford. He is an expert in Machine Learning, and is passionate about designing new tools for high school students to ease their college application proces.</p>
            </div>
          </div>  
        </div>
      </div>
    </div>
    <!-- End of Team Introduction code -->