<div class="slider-block">						
  <div id="myCarousel" class="carousel slide">
    <!-- Carousel items -->
    <div class="carousel-inner">
      <div class="active item">
        <img src="/images/Stanford_Panaroma_Small.jpg" alt="Someimage">
        <div class="caption middle-left container">
          <p class="large white text-dark">Improve</p>
          <p class="medium white text-pink">Your college application with</p>
          <p class="large pink add-space">CHATIVY</p>
        </div>
    </div>
    <div class="item">
      <img src="/images/Stanford_Graduation_Small.png" alt="Slide2">
      <div class="caption top-right container">
        <p class="medium pink add-space">Get Live Video Application Help</p>
        <p class="medium white text-dark">From Current Stanford Students.</p>
      </div>
    </div>
    <div class="item">
      <img src="/images/Stanford_Videochat_Small.png" alt="Slide2">
      <div class="caption bottom-right container">
        <p class="large pink add-space">Stanford students</p>
        <p class="small pink"> will help you with your college essays </p>
        <p class="small pink"> and college application </p>
      </div>
    </div>

    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
  </div>

</div>