    <%= stylesheet_link_tag    "information" %>

    <div class="hero-unit fullframe">
      <img src="/images/Stanford_Panaroma_Small.jpg" style="width:100%;">


      <div id ="caption_text" class="caption middle-left container">
        <p class="large white text-dark">Improve Your College Application</p>
        <p class="medium white text-pink">with</p>
        <p class="large pink add-space">CHATIVY</p>
      </div>
    </div>    
    <div class="hero-unit fullframeWpadding">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h1>Video feedback from <strong class="pink">STANFORD</strong> students on your essays &amp; application </h1>
          </div>
        </div>
      </div>
    </div>
    <div class="hero-unit fullframe">
      <img src="/images/Stanford_Videochat_Small.png" alt="Slide2">
      <!-- <div class="caption middle-left container">
        <p class="large white text-dark">Improve</p>
        <p class="medium white text-pink">Your college application with</p>
        <p class="large pink add-space">CHATIVY</p>
      </div> -->
    </div> 
    <div class="hero-unit fullframeWpadding">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h1>Get into the college OF YOUR DREAMS</h1>
            <h1>Sign up <strong class="pink">TODAY</strong></h1>
            <div class="center_button"> 
              <a href="/user/register">
                <button type="submit" class="btn btn-primary btn-large">Sign up</button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="hero-unit fullframe">
      <img src="/images/Stanford_Graduation_Small.png" alt="Slide2">

      <!--<div class="caption middle-left container">
        <p class="large white text-dark">Improve</p>
        <p class="medium white text-pink">Your college application with</p>
        <p class="large pink add-space">CHATIVY</p>
      </div> -->
    </div> 

    <div class="hero-unit fullframeWpadding">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h1> ARE YOU A STANFORD STUDENT? </h1>
            <h1>APPLY TO BE A <strong class="pink">TUTOR</strong></h1>
            <div class="center_button"> 
              <a href="/user/register">
                <button type="submit" class="btn btn-primary btn-large">Tutor Application</button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>



    <script>
      $(window).resize(function(){
        console.log("herp");
      var newwidth = $(window).width();
      var newheight = $(window).height();    
      if (newwidth < 400 )
      {
        $("#caption_text").css('visibility', 'hidden');
      }  
      else
      {
        $("#caption_text").css('visibility', 'visible');
      }
      });
    </script>
