    <%= stylesheet_link_tag    "information" %>

    <div class="hero-unit fullframe">
      <img src="/images/Stanford_Panaroma_Small.jpg" style="width:100%;">


      <div class="caption middle-left container">
        <p class="large white text-dark">Improve Your College Application</p>
        <p class="medium white text-pink">with</p>
        <p class="large pink add-space">CHATIVY</p>
      </div>
    </div>    
    <div class="hero-unit fullframeWpadding">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h1>Video feedback from <strong class="pink">STANFORD</strong> students on your essays &amp; application </h1>
          </div>
        </div>
      </div>
    </div>
    <div class="hero-unit fullframe">
      <img src="/images/Stanford_Videochat_Small.png" alt="Slide2">
      <!-- <div class="caption middle-left container">
        <p class="large white text-dark">Improve</p>
        <p class="medium white text-pink">Your college application with</p>
        <p class="large pink add-space">CHATIVY</p>
      </div> -->
    </div> 
    <div class="hero-unit fullframeWpadding">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h1>Get into <strong class="pink">STANFORD</strong></h1>
          </div>
        </div>
      </div>
    </div>
    <div class="hero-unit fullframe">
      <img src="/images/Stanford_Graduation_Small.png" alt="Slide2">

      <!--<div class="caption middle-left container">
        <p class="large white text-dark">Improve</p>
        <p class="medium white text-pink">Your college application with</p>
        <p class="large pink add-space">CHATIVY</p>
      </div> -->
    </div> 

    <div class="hero-unit fullframeWpadding">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h1>Get into <strong class="pink">STANFORD</strong></h1>
          </div>
        </div>
      </div>
    </div>
