    <%= stylesheet_link_tag    "information" %>

    <div class="hero-unit fullframe">
      <img src="/images/Stanford_Panaroma_Small.jpg" style="width:100%;">


      <div id ="caption_text" class="caption middle-left container">
        <p class="large white text-dark">Improve Your College Application</p>
        <p class="medium white text-pink">with</p>
        <p class="large pink add-space">CHATIVY</p>
      </div>
    </div>    
    <div class="hero-unit text-unit fullframeWpadding">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h1>Video feedback from <strong class="pink">STANFORD</strong> students on your essays &amp; application </h1>
          </div>
        </div>
      </div>
    </div>
    <div class="hero-unit fullframe">
      <img src="/images/Stanford_Videochat_Small.png" alt="Slide2">
      <!-- <div class="caption middle-left container">
        <p class="large white text-dark">Improve</p>
        <p class="medium white text-pink">Your college application with</p>
        <p class="large pink add-space">CHATIVY</p>
      </div> -->
    </div> 
    <div class="hero-unit text-unit fullframeWpadding">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h1>Get into the college OF YOUR DREAMS</h1>
            <h1>Sign up <strong class="pink">TODAY</strong></h1>
            <div class="center_button"> 
              <a href="/user/register">
                <button type="submit" class="btn btn-primary btn-large signup_button">Sign up</button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="hero-unit fullframe">
      <img src="/images/Stanford_Graduation_Small.png" alt="Slide2">

      <!--<div class="caption middle-left container">
        <p class="large white text-dark">Improve</p>
        <p class="medium white text-pink">Your college application with</p>
        <p class="large pink add-space">CHATIVY</p>
      </div> -->
    </div> 

    <div class="hero-unit text-unit fullframeWpadding">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h1> ARE YOU A STANFORD STUDENT? </h1>
            <h1>APPLY TO BE A <strong class="pink">TUTOR</strong></h1>
            <div class="center_button"> 
              <a href="/user/register">
                <button type="submit" class="btn btn-primary btn-large signup_button">Tutor Application</button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>



    <script>

  

       // RESIZES ELEMENTS according to screen size (iphone compatibility)
      function resizeElements()
      {
        console.log("resizing");
        var newwidth = $(window).width();
        var newheight = $(window).height();  
        // iphone size  
        if ( /Android|webOS|iPhone|iPod|BlackBerry/i.test(navigator.userAgent) || newwidth <= 480)
        {
          $("#caption_text").css('visibility', 'hidden');
          $(".text-unit").css('padding-top', '0px');
          $(".text-unit").css('padding-bottom', '10px');
          $("h1").css('font-size', '20px');
          $(".signup_button").removeClass('btn-large');
          $("button").width(200);
          $("button").height(70);
        }
        else if (newwidth < 1000 )
        {
          $("#caption_text").css('visibility', 'hidden');
          $("h1").css('font-size', '35px');
          $(".text-unit").css('padding', '60px');
          $(".signup_button").addClass('btn-large');
          $("button").width(300);
          $("button").height(70);
        }  
        else
        {
          $("#caption_text").css('visibility', 'visible');
          $("h1").css('font-size', '58px');
          $(".text-unit").css('padding', '60px');
          $(".signup_button").addClass('btn-large');
          $("button").width(300);
          $("button").height(70);
          
        }
      }

      window.onload=resizeElements() ;



   
      $(window).resize(function(){
        resizeElements();

      });
    </script>
