      <!-- PRICING TABLE -->
      <div id="pricing-table">
          <div class="plan plan1">
              <div class="header">Bronze</div>
              <div class="price">$200</div>  
              <!-- <div class="monthly">per month</div> -->
              <ul>
                  <li> High quality live feedback</li>
                  <li> Flexible scheduling</li>
                  <li><b>2</b> Half-hour sessions</li>
                  <li><b>1</b> Student to help you</li>      
              </ul>
              <a class="signup" href="">Sign up</a>         
          </div >
          <div class="plan plan2 popular-plan">
              <div class="header">Silver</div>
              <div class="price">$400</div>
              <ul>
                  <li> High quality live feedback</li>
                  <li> Flexible scheduling</li>
                  <li><b>5</b> Half-hour sessions</li>
                  <li><b>3</b> Students to help you</li>
              </ul>
              <a class="signup" href="">Sign up</a>            
          </div>
          <div class="plan plan3">
              <div class="header">Gold</div>
              <div class="price">$700</div>
              <ul>
                  <li> High quality live feedback</li>
                  <li> Flexible scheduling</li>
                  <li><b>10</b> Half-hour sessions</li>
                  <li><b>5</b> Students to help you</li>    
              </ul>
              <a class="signup" href="">Sign up</a>        
          </div>
          <div class="plan plan4">
              <div class="header">Platinum</div>
              <div class="price">Custom</div>
              <ul>
                  <li> High quality live feedback</li>
                  <li> Flexible scheduling</li>
                  <li><b>Custom</b> Half-hour sessions (15 minimum)</li>
                  <li><b>Unlimited</b> Students</li>   
              </ul>
              <a class="signup" href="">Sign up</a>        
          </div>  
      </div>

      <hr>

      <h2>All plans comes with <strong>30 days</strong> money-back guarantee <small>order now!</small></h2>
    </div>
   	</div><!-- .container -->
