// Place all the styles related to the information controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.fullframe
{
	margin:0;
	padding:0;
}

.fullframeWpadding
{
	margin:0;
}

.center_button button
{
	width:300px;
	height:70px;
}

.header
{
	font-family: 'college', sans-serif;
}