// Place all the styles related to the information controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.caption p
{
	opacity:1;
	font-family: 'Open Sans', sans-serif;
}

.caption.middle-left
{
	top:30%;
}

.center_button
{
	text-align:center;
}


.fullframe
{
	margin:0;
	padding:0;
	width:100%;

}

.fullframeWpadding
{
	margin:0;
}


.center_button button
{
	width:1000px;
	height:100px;
}

.header
{
	font-family: 'college', sans-serif;
}